<!-- closet/templates/closet/my_collections.html -->
{% extends "closet/base.html" %}

{% block content %}
  <h2>My Collections</h2>
  <ul>
    {% for collection in collections %}
      <li>
        <a href="{% url 'closet:collection_detail' collection.id %}">{{ collection.name }}</a>
        {% if user.profile.role == 'librarian' or user == collection.owner %}
          - <a href="{% url 'closet:edit_collection' collection.id %}">Edit</a>
          - <a href="{% url 'closet:delete_collection' collection.id %}">Delete</a>
        {% endif %}
      </li>
    {% empty %}
      <li>No collections found.</li>
    {% endfor %}
  </ul>
  <a href="{% url 'closet:add_collection' %}" class="btn btn-primary">Add New Collection</a>
    <a href="{% url 'closet:collections_list' %}" class="btn btn-secondary">Back</a>
{% endblock %}
