{% extends "login/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

    <!-- Not needed anymore -->

    <div class="text-center">
        <h1>Welcome to Closet Dashboard</h1>
        <p>You are successfully logged in.</p>
        <div class="my-3">
            <a href="{% url 'login:login' %}" class="btn btn-primary">Account</a>
        </div>
        <h3>Select Your Role:</h3>
        <div class="d-grid gap-2 col-6 mx-auto">
        <a href="{% url 'login:patron_dashboard' %}" class="btn btn-success">Patron</a>
        <a href="{% url 'login:librarian_dashboard' %}" class="btn btn-success">Librarian</a>
        </div>
        <div class="mt-3">
        <a href="{% url 'login:logout' %}" class="btn btn-danger">Logout</a>
        </div>
    </div>

{% endblock %}
